/* You can add global styles to this file, and also import other style files */
body{
  background-color: #0F172A;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

h1, h2, h3{
  font-family: 'Work Sans', sans-serif;
}

h2, h4, h6{
  font-family: 'Taviraj', serif;
}

.secondary-color{
  color: #22D3EE;
}
